<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Información Personal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1 class="name">Paola Marynel Suarez Rodriguez</h1>
  
  <div class="profile-image-container">
    <img src="assets/img/paola.jpg" alt="Paola Marynel Suarez Rodriguez" class="profile-image" />
  </div>
  <p class="description">
    Soy una apasionada programadora en formación, inmersa en el vasto universo 
    del desarrollo de videojuegos. Mi interés por la programación se complementa 
    con habilidades en diversas herramientas de desarrollo. Valoro el proceso de 
    aprendizaje, entendiendo que cada error es una oportunidad para mejorar y crecer 
    en el ámbito profesional. Disfruto de un entorno de trabajo que fomenta la creatividad, 
    y encuentro inspiración en mis gatos, quienes aportan compañía y alegría a mi proceso creativo.
  </p>
</ion-content>