ion-content {
  background: #fff;
}
h2 {
  color: #222831;
  margin-bottom: 1rem;
}
ion-list ion-item {
  --background: transparent;
  --color: #393e46;
  padding: 10px 0;
}
ion-label {
  width: 130px;
}
ion-button {
  margin-right: 8px;
}